<%= render 'shared/errors', obj: @question %>

<%= form_for(@question, :html => {class: 'form-horizontal', role: 'form'}) do |f| %>
  <div class="row">
    <div class="col-md-9">
      <%= f.text_area :question, size: "76x5", maxlength: 300, autofocus: true, placeholder: 'Craft your question in 300 characters or less' %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-9">
      <div class="panel panel-success">
        <div class="panel-heading small">Check as many topics as apply!</div>
        <div class="panel-body small">
          <%= f.collection_check_boxes :topic_ids, Topic.order("name ASC").all, :id, :name do |cb| %>
            <% cb.label(class: "checkbox-inline") {cb.check_box(class: "checkbox") + cb.text} %>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
    
  <div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>
