<%= render partial: 'shared/page_title', :locals => {:heading => 'All Submitted Questions'} %>

<p class="meta-details-lg">
  Here's everything we're talking about these days. You can vote up what concerns you directly on this page 
  and dive into the deeper discussion by clicking <strong>See More</strong>. Your voice counts! Join in the 
  discussion today.
</p>
<hr/>

<% @questions.each do |question| %>

  <div class="row">
    <div class="col-md-12">
      <div class="lead">
        <%= question.question %>
        <span class="meta-details pad-l-10">
          <br/>posed by <%= question.user.username %> on <%= question.created_at.strftime("%B %d, %Y") %>
        </span>
      </div>
    </div>
  </div>
   
  <%= render partial: 'voting_bar', :locals => {:question => question, :source => 'index'} %>
<% end %>
