<div class="row">
  <div class="col-md-12">

    <%= render partial: 'shared/page_title', :locals => {:heading => "So Here's the Question..."} %>
    
    <div class="subtitle">
      All the details about this question are here. You can vote (and unvote!), make a note of the author, and see any discussions 
      that have resulted as we debate the merits and how-tos of what was asked. Your voice is crucial! Please 
      contribute in any way that inspires you.
    </div>
    <hr/>

    <%= render partial: 'question_display', :locals => {:question => @question, :source => 'show' } %>
    
  </div>
</div>

<%= render partial: 'voting_bar', :locals => {:question => @question, :source => 'show'} %>

<div class="row">
  <div class="col-md-12">
    <h4><i class="fa fa-comments orange icon-lg"></i> <em>Discussions we're having about this <small>- <%= link_to "(you can also start a new one)", new_blurb_path(question_id: @question.id) %></small></em></h4>
  </div>
  
  <table class="table table-striped">
    <% @blurbs.each do |blurb| %>
      <tr>
        <td><%= gravatar_for(blurb.user, size: 20) %></td>
        <td><span class="blurb-list"><%= blurb.blurb %></span> <span class="label label-info"><%= pluralize(blurb.comments.count, 'comment') %></span></td>
      </tr>
    <% end %>
  </table>
  
</div>