<div class="strip-container">
  
  <div class="strip-item" style='z-index: -2;'>
    <%= image_tag 'hillary.jpg', width: '130', class: 'img-circle box-shadow' %>
  </div>
  <div class="strip-item" style='top: 30px; left: 105px;'>
    <%= image_tag 'democrat.png', width: '90' %>
  </div>
  <div class="strip-item" style='top: 80px; left: 35px; z-index: -1;'>
    <%= image_tag 'bernie-sm.jpg', width: '150', class: 'img-circle box-shadow' %>
  </div>
  
  <div class="strip-item" style='top: 220px; left: 40px; z-index: -2'>
    <%= image_tag 'republican-group.jpg', width: '180', class: 'box-shadow' %>
  </div>
  <div class="strip-item" style='top: 280px; left: 0px;'>
    <%= image_tag 'republican.png', width: '90' %>
  </div>
  <div class="strip-item" style='top: 310px; left: 60px; z-index: -1;'>
    <%= image_tag 'trump.jpg', width: '150', class: 'img-circle box-shadow' %>
  </div>


  <div class="strip-item" style='top: 440px;'>
    <div class="well text-center box-shadow">
      <p class="lead">Latest Party News</p>
      <div class="lead"><%= link_to 'DNC', 'http://www.democrats.org/' %> & <%= link_to 'GOP', 'https://gop.com/' %></div>
    </div>
  </div>

</div>

