<div class="row col-md-12">
  <h1 class="home-title">Here's what we're concerned about</h1>
  
  <% questions.each_with_index do |q, i| %>
    <% if i == 0 %>
      <h4>
        <%= q.user.username %> has written today's top Berning Question with <%= qualify_votes(q.votes.count) %> 
        <%= pluralize(q.votes.count, 'vote') %> from the community.
      </h4>
      <hr>
      <div class="lead well top-question-bg">
        <div class="row">
          <div class="col-xs-1"><%= gravatar_for(q.user, size: 50) %></div>
          <div class="col-xs-11"><%= link_to q.question, question_path(q), :class => 'top-question-href' %></div>
        </div>
      </div>
      <hr>
    <% else %>
      <% if i == 1 %>
        <div class="question-container">
          <h5 class="pad-b-10">
            Rounding out the top 5 questions are these next four which received the highest votes. 
            Click on any question to read it fully, and lend your own voice by voting or starting a blurb!
          </h5>
      <% end %>
          <div class="mb-10 mt-10 top-question-group">
            <strong><%= i+1 %></strong> - <%= link_to truncate(q.question, length: 100), question_path(q), class: 'top-question-href' %>
          </div>
    <% end %>
  <% end %>
  
  <% if questions.count > 1 %>
        </div> <!-- Closes question container which was opened inside of the each loop -->
  <% end %>
</div>
