<div class="well navbar navbar-default navbar-static-top">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to "The Berning Question", root_path, class: 'navbar-brand' %><a name='top'></a>
  <div class="navbar-collapse collapse navbar-responsive-collapse pull-right navbar-large">
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Question Catalog<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "What We're Asking", questions_path %></li>
            <li><a href="#"><span style='color: #ccc;'>Browse by Topic</span></a></li>
          </ul>        
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Do More<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "My Feed", my_feed_path %></li>
            <li><%= link_to "Find Friends", my_friends_path %></li>
            <li><%= link_to "Pose A New Question", new_question_path %></li>
            <% if current_user.admin? %>
              <li class="divider"></li>
              <li><%= link_to 'User List', users_path %></li>
            <% end %>
          </ul>
        </li>        
        <li><%= link_to "Logout #{current_user.username}", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In or Sign Up!", new_user_session_path %></li>      
      <% end %>
    </ul>
  </div>
</div>
